@import url(./reset.css);

.header__nav__item a .current {
    color: var(--red-color);
    text-decoration: underline;
}

footer {
    background-image: url(/img/footerBanner.jpg);
}

.aboutUs {
    font-family: 'Inter', sans-serif;
}

.container {
    padding-top: 80px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.breadcrumb {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 50px;
    display: flex;
    background-color: var(--bg-color);
}

.breadcrumb li:not(:last-child)::after {
    content: "";
    margin: 0 10px;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: rotate(-45deg) translateY(-2px);
}

.breadcrumb li a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--font-color);
    line-height: 20px;
}

.breadcrumb li a:hover {
    color: var(--red-color);
}

.banner {
    background-image: url(../img/banner/pexels-icsa-1709003.png);
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .65);
    letter-spacing: 0.1em;
}

.banner__title h1 {
    padding-top: 200px;
    text-align: center;
    font-size: 8rem;
    color: var(--bg-color);
    font-weight: bold;
}

.banner__title p {
    text-align: center;
}

.banner__subtitle {
    box-sizing: border-box;
    line-height: 30px;
    background-color: var(--red-color);
    font-weight: bold;
    color: var(--bg-color);
    letter-spacing: 2.1em;
    text-size-adjust: 100%;
}

.content {}

.content {}

.content dl {}

.content dl a {}

.content dl a dt {}

section {}

.title__zh {}

.title {}

.concept__ctn {}

.concept__ctn li {}

.concept__ctn li img {}

.concept__ctn li h6 {}

.concept__ctn li p {}

.contact__ctn {}

.contact__ctn li h6 {}

.contact__ctn li p {}

.johnUs {}

.johnUs__img {}

.johnUs__text {}

.benefit {}

.meow__img {}

.meow__text {}

.meow__text h6 {}

.meow__text ul {}

.meow__text ul li {}