footer {
    background-image: url(/img/footerBanner.jpg);
}

.article {
    font-family: 'Inter', sans-serif;
}

.container {
    padding-top: 80px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.breadcrumb {
    min-width: 100%;
    margin: 0 auto;
    padding: 5px 10%;
    display: flex;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.breadcrumb li:not(:last-child)::after {
    content: "";
    margin: 0 10px;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: rotate(-45deg) translateY(-2px);
}

.breadcrumb li a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--font-color);
    line-height: 20px;
}

.breadcrumb li a:hover {
    color: var(--red-color);
}

.banner {
    background-image: url(../img/banner/charisse-kenion-cJkVMAKDYl0-unsplash.jpg);
    width: 100%;
    height: 32rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .65);
    letter-spacing: 0.1em;
}

.banner__title h1 {
    padding-top: 170px;
    text-align: center;
    font-size: 8rem;
    color: var(--bg-color);
    font-weight: bold;
    margin-bottom: 15px;
}

.banner__title p {
    text-align: center;
}

.banner__subtitle {
    box-sizing: border-box;
    background-color: var(--red-color);
    font-weight: bold;
    color: var(--bg-color);
    letter-spacing: 1em;
    padding-left: 1rem;
}

.container {
    background-image: url(../img/bg.svg);
    background-repeat: repeat-y;
    position: relative;
}

.content {
    width: 100%;
    margin: 60px auto 0;
    padding-bottom: 85px;
}

.wrapper {
    margin-top: -16.5rem;
}

.list__post {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    padding: 0 5rem;
    gap: 2rem 1.6rem;
    grid-auto-rows: 1fr
}

.list__post a {
    text-decoration: none;
    color: var(--font-color);
}

.list__post a .inner {
    background-color: var(--bg-color);
    padding: 2rem;
    box-shadow: 0 1rem 1.1rem 0 rgba(0, 0, 0, .3);
    position: relative;
    height: 100%;
    border-radius: .3rem;
}

.list__post .inner img {
    width: 100%;
    border-radius: .3rem;
}

.list__post .inner .subject {
    display: block;
    line-height: 2rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.list__post a:hover .inner .subject {
    color: var(--red-color)
}

.list__post .inner .author {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem;
    font-size: .8rem;
    color: var(--font1-color);
}

.list__post .inner span {
    color: var(--red-color);
    font-weight: bold;
    margin-right: .3rem;
}

/* --------- .tagPage__list{} --------- */
.tagPage__list {
    margin-top: 100px;
    justify-content: center;
    display: flex;
}

.tagPage__list ul {
    display: flex;
}

.tagPage__list ul li:first-child {
    font-weight: bold;
}

.tagPage__list a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--font-color);
    margin-right: .8rem;
}


.tagPage__list a:hover {
    color: var(--red-color);
}

.tagPage__list ul a {}

.tagPage__list span {
    margin-right: .8rem;
    cursor: default;
}

/* --------- .subscribe {} --------- */
.subscribe {
    background-color: var(--bg-color);
    position: sticky;
    z-index: 999;
    top: calc(100vh - 265px - 12%);
    left: calc(100vw - 240px - 3%);
    width: 15rem;
    border: 2px solid var(--gray-color);
    border-radius: .3rem;
    padding: 1rem;
    box-shadow: 0 .5rem .8rem 0 rgba(0, 0, 0, .2);
}

.subscribe h5,
.dialog__ctn h5 {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2.5rem;
    border-bottom: 2px solid var(--red-color);
    margin-bottom: 1.2rem;
}

.subscribe .downSize {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: .2rem;
    background-color: transparent;
    font-size: 1.5rem;
    margin: .1rem .65rem;
    cursor: pointer;
    opacity: .6;
}

.subscribe .form__row {
    display: flex;
    flex-direction: column;
}

.subscribe .form__row input,
.dialog__login .dialog__ctn ul li input {
    padding: .5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--gray-color);
    border-radius: .28rem;
    font-size: 1rem;
}

.subscribe .form__row .submit,
.submit {
    border: 0;
    background-color: var(--red-color);
    border-radius: .3rem;
    padding: .5rem;
    color: var(--bg-color);
    font-size: 1rem;
    margin-bottom: .8rem;
    width: 100%;
    line-height: 1.8rem;
}

.subscribe .btn__subscribe {
    width: 50px;
    height: 50px;
    padding: 0 1vw;
    border-radius: 2px;
    border: 2px solid var(--red-color);
    background-color: var(--red-color);
    color: var(--bg-color);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1400px) {
    .subscribe {
        top: calc(100vh - 265px - 12%);
        left: calc(100vw - 240px - 3%);
    }
}

@media screen and (max-width: 1200px) {
    .subscribe {
        top: calc(100vh - 265px - 12%);
        left: calc(100vw - 240px - 3%);
    }
}

@media screen and (max-width:970px) {
    .subscribe {
        top: calc(100vh - 265px - 12%);
        left: calc(100vw - 240px - 3%);
    }

    .container {
        padding-top: 62px;
    }

    .banner {
        height: 420px;
    }

    .banner__title h1 {
        padding-top: 130px;
    }

    .list__post {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        padding: 0 8vw;
    }
}

@media screen and (max-width:800px) {
    .subscribe {
        top: calc(100vh - 265px - 12%);
        left: calc(100vw - 240px - 3%);
    }
}

@media screen and (max-width:735px) {
    .banner {
        height: 300px;
    }

    .banner__title h1 {
        padding-top: 88px;
        font-size: 3.5rem;
        text-align: start;
        padding-left: 1rem;
    }

    .banner__title p {
        text-align: start;
        padding-left: 1.3rem;
        line-height: 1.1rem;
    }

    .banner__subtitle {
        display: inline;
        padding: 0;
    }

    .subscribe {
        top: calc(100vh - 265px - 12%);
        left: calc(100vw - 240px - 3%);
        margin: 0;
    }

    .list__post {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        padding: 0 10vw;
    }
}

.subscribe__smallSize {
    border: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    width: 5%;
    top: 80%;
    left: calc(100vw - 6.5%);
}

@media screen and (max-width:800px) {
    .subscribe__smallSize {
        left: calc(100vw - 40px - 6%)
    }
}

@media screen and (max-width:605px) {
    .subscribe__smallSize {
        left: calc(100vw - 40px - 10%)
    }
}

@media screen and (max-width:428px) {
    .subscribe__smallSize {
        left: calc(100vw - 40px - 12%)
    }
}

.subscribe__smallSize *:not(:last-child) {
    display: none;
}

.btn__active {
    margin-top: -3rem;
}