footer {
    background-image: url("../img/footerBanner.jpg");
}

.course {
    font-family: 'Inter', sans-serif;
}

.container {
    padding-top: 80px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.breadcrumb {
    min-width: 100%;
    margin: 0 auto;
    padding: 5px 10%;
    display: flex;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.breadcrumb li:not(:last-child)::after {
    content: "";
    margin: 0 10px;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: rotate(-45deg) translateY(-2px);
}

.breadcrumb li a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--font-color);
    line-height: 20px;
}

.breadcrumb li a:hover {
    color: var(--red-color);
}

.banner {
    background-image: url(../img/banner/pexels-icsa-1709003.png);
    width: 100%;
    height: 32rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .65);
    letter-spacing: 0.1em;
}

.banner__title h1 {
    padding-top: 170px;
    text-align: center;
    font-size: 8rem;
    color: var(--bg-color);
    font-weight: bold;
    margin-bottom: 15px;
}

.banner__title p {
    text-align: center;
}

.banner__subtitle {
    box-sizing: border-box;
    background-color: var(--red-color);
    font-weight: bold;
    color: var(--bg-color);
    letter-spacing: 1.3em;
    padding-left: 1.3em
}

.container {
    background-image: url(../img/bg.svg);
    background-repeat: repeat-y;
}

.course section {
    width: 100%;
    margin: 190px auto 0;
}

.title__zh {
    color: var(--red-color);
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 25px;
    letter-spacing: .2rem;
    font-weight: 550;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.title span {
    color: transparent;
    font-size: 8rem;
    font-weight: bold;
    -webkit-text-stroke: 3px var(--red-color);
    margin: 0 10vw;
}

.title::before,
.title::after {
    content: "";
    display: block;
    flex: 1 1 auto;
    border-top: 1px solid var(--red-color);
}

.course__banner {
    height: 40vh;
    background-size: cover;
    margin: 0 10vw 100px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    filter: saturate(1);
}

.course__banner>span {
    padding: 60px 0;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course__banner span h6 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .3rem;
    margin-bottom: 25px;
}

.course__banner span p {
    line-height: 1.5;
    margin-bottom: 25px;
}

.course__banner span a {
    display: block;
    width: 350px;
    line-height: 38px;
    box-sizing: border-box;
    position: relative;
    outline: 1px solid var(--bg-color);
    text-decoration: none;
    color: var(--bg-color);
    text-align: center;
}

.btn__arrow {
    position: absolute;
    right: 3%;
    top: 45%;
    translate: .3s;
}

.on__hover {
    display: none;
}

.course__banner span a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--red-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    outline: 1px solid var(--red-color);
}

.course__banner span a:hover::before {
    transform: scaleX(1);
    border-bottom: 1px solid var(--red-color);
}

.course__banner span a span {
    position: relative;
    z-index: 2;
}


.course__banner span a:hover span {
    color: var(--bg-color);
}

.eng__speak {
    background-image: url(../img/course/eng/banner/clip/brooke-cagle--uHVRvDr7pg-unsplash.jpg);
}

.eng__kid {
    background-image: url(../img/course/eng/banner/clip/cowomen-cKQkMFzXHAI-unsplash.jpg);
}

.eng__oral {
    background-image: url(../img/course/eng/banner/clip/helena-lopes-UZe35tk5UoA-unsplash.jpg);
}

.eng__business {
    background-image: url(../img/course/eng/banner/clip/mimi-thian-lp1AKIUV3yo-unsplash.jpg);
}

.sci__lab {
    background-image: url(../img/course/sci/clip/pexels-edward-jenner-4033148.jpg);
}

.sci__magic {
    background-image: url(../img/course/sci/clip/pexels-polina-tankilevitch-3735709.jpg);
}

.phy__new {
    background-image: url(../img/course/phy/clip/dan-cristian-padure-h3kuhYUCE9A-unsplash.jpg);
}

.phy__king {
    background-image: url(../img/course/phy/clip/roman-mager-5mZ_M06Fc9g-unsplash.jpg);
    margin-bottom: 0px;
}

.last {
    height: 100px;
}

@media screen and (max-width:970px) {
    .container {
        padding-top: 62px;
    }

    .banner {
        height: 420px;
    }

    .banner__title h1 {
        padding-top: 130px;
    }

    .course__banner span p {
        display: block;
        padding: 0 5vw;
    }

    .course__banner span p br {
        content: "";
        display: none;
    }
}

@media screen and (max-width:735px) {
    .banner {
        height: 300px;
    }

    .banner__title h1 {
        padding-top: 88px;
        font-size: 3.5rem;
        text-align: start;
        padding-left: 1rem;
    }

    .banner__title p {
        text-align: start;
        padding-left: 1.3rem;
        line-height: 1.1rem;
    }

    .banner__subtitle {
        display: inline;
        padding: 0;
    }

    .title__zh {
        font-size: .8rem;
    }

    .title span {
        font-size: 3.8rem;
    }

    .course__banner span h6 {
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .course__banner span h6 {
        font-size: 1.8rem;
    }

    .course__banner {
        margin: 0 5vw 100px
    }

    .course__banner span a {
        width: 60vw;
    }
}

@media screen and (max-width:428px) {

    .course__banner>span {
        padding: 30px 0;
    }

    .course__banner span h6 {
        font-size: 1.5rem;
    }
}