@import url("./reset.css");

:root {
    --bg-color: #fff;
    --font-color: #231f20;
    --font1-color: #4d4d4d;
    --gray-color: #d9d9d9;
    --gray-tgh-color: rgba(217, 217, 217, .5);
    --purple-color: #5b417c;
    --red-color: #c6544e;
    --red-tgh-color: rgba(198, 84, 78, .5);
    --blue-color: #69bdce;
    --yellow-color: #d5d53c;
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--gray-color);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.header a {
    color: var(--font-color);
    text-decoration: none;
}

.header__wrapper>a {
    width: 28rem
}

.header img {
    max-width: 100%;
}

.header .mobile {
    display: none
}

.header__wrapper a img {
    padding: .8rem;
    display: block;
    width: 100%;
    z-index: 10;
    max-width: 1920px;
    height: 5rem;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__nav {
    display: flex;
}

.header__nav__menu {
    display: flex;
}

.header__nav__item>a {
    flex-grow: 1;
    display: block;
    width: 5rem;
    line-height: 4.81rem;
    font-size: 1rem;
    text-align: center;
    transition: .1s;
    border-bottom: 2px solid var(--bg-color);
}

.header__nav__item a:hover,
.nav__course:hover>a {
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
}

.header__nav__menu .nav__course .menu__course {
    position: relative;
    width: 6rem;
    padding-right: .8rem;
}

.header__nav__menu .nav__course>a:first-child {
    display: none
}

.header__nav__menu .nav__course .menu__course::after {
    content: "";
    position: absolute;
    right: 10%;
    top: 45%;
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid var(--font1-color);
    border-right: 1px solid var(--font1-color);
    transform: rotate(45deg);
    transition: .3s;
}

.header__nav__menu .nav__course:hover .menu__course::after {
    transform: rotate(-135deg);
    margin-top: 3px;
    border-color: var(--red-color);
}

.nav__course .menu__ctn {
    position: fixed;
    z-index: -999;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    border-top: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    transform-origin: center top;
    transition: all .15s;
    display: block;
    transform: scaleY(0);
    opacity: 0;
}

.nav__course:hover .menu__ctn {
    transform: scaleY(1);
    opacity: 1;
}


.nav__course .menu__ctn .menu__inner {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
}

.menu__ctn .menu__inner dl {
    flex: 1 1 auto;
    padding: 0 .8rem;
    text-align: center;
}

.menu__ctn .menu__inner dl:not(:last-child) {
    border-right: 1px solid var(--gray-color);
}

.menu__inner dl dt {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: .08rem;
}

.menu__ctn .menu__inner ul {
    margin-top: 1rem
}

.menu__ctn .menu__inner li {
    margin-top: .8rem
}

/* ----------------- hamburger menu -------------------- */

.menu__rwd {
    box-sizing: border-box;
    padding: 15px 10px;
    display: none;
    min-width: 51.88px;
}

.menu__rwd img {
    max-height: 25px;
}

@media screen and (max-width:735px) {
    .header__inner {
        margin: 0;
        height: auto;
    }

    .menu__rwd {
        display: block;
    }

    .header__nav__menu {
        flex-direction: column;

    }

    .header__nav__item>a {
        text-align: start;
        width: 100%;
        background-color: var(--bg-color);
        padding-left: 5rem;
        letter-spacing: .2rem;
        border-bottom: 1px solid var(--gray-color);
    }

    /* child menu */
    .header__nav__menu .nav__course .menu__course {
        width: 100%;
        padding: 0;
        background-color: var(--bg-color);
        padding-left: 5rem;
    }

    .header__nav__menu .nav__course a:first-child {
        display: block
    }

    .header__nav .header__nav__menu .nav__course a:not(:first-child) {
        display: none
    }

    .header__nav__menu .nav__course .menu__course::after {
        content: "";
        right: 3rem;
        width: 8px;
        height: 8px;
    }

    .nav__course .menu__ctn {
        transform: scaleY(0);
        opacity: 0;
    }

    .nav__course .menu__ctn .menu__inner {
        display: block;
        padding: 0rem 5rem;
    }

    .menu__ctn .menu__inner dl {
        text-align: start;
        display: flex;
        padding: 1rem;
    }

    .menu__ctn .menu__inner dl:not(:last-child) {
        border: 0;
        border-bottom: 1px solid var(--gray-tgh-color);
    }

    .menu__inner dl dt {
        color: var(--font1-color);
        opacity: .5;
        padding-right: 2.8rem;
    }

    .menu__inner dl dd {
        width: 70%;
    }

    .menu__ctn .menu__inner ul {
        margin: 0;
    }

    .menu__ctn .menu__inner ul:not(:last-child) {
        margin-bottom: 1rem;
    }

    .menu__ctn .menu__inner li {
        margin: 0;
    }

    .menu__ctn .menu__inner li:not(:last-child) {
        padding-bottom: .4rem;
    }

    .menu__inner li a {
        width: 100%;
        display: block;
    }

    .menu__inner li a:hover {
        border: 0;
    }

    .header__nav__menu .nav__course:active .menu__course::after {
        transform: rotate(-135deg);
        margin-top: 3px;
        border-color: var(--red-color);
    }

    .menu__rwd__open {
        position: fixed;
        left: 0;
        top: 63px;
        width: 100%;
        border-top: 1px solid var(--gray-color);
        justify-content: center;
        transition: all .3s;
        transform-origin: center top;
        transform: scaleY(0);
        opacity: 0;
    }

    .menu__rwd__show {
        transform: scaleY(1);
        opacity: 1;
    }

    .nav__course .rwd__menu__position {
        position: static;
        display: block;
        transform: scaleY(1);
        opacity: 1;
    }

    /*.menu__course::after {
        transform: rotate(-135deg);
        margin-top: 3px;
        border-color: var(--red-color);
    } */
}

.header__nav__login {
    display: block;
    background-color: var(--red-color);
    width: 68%;
    width: 5rem;
    margin: 1rem 1.8rem;
    padding: 0rem 1rem;
    height: 2.8rem;
    border: 0;
    outline: 1px solid var(--red-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.header span {
    position: relative;
    z-index: 1
}

.header__nav__login::before {
    content: "";
    min-width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid var(--red-color);
    border-radius: 3px;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: 0% 50%;
}

.header__nav__login:hover {
    color: var(--red-color);
}

.header__nav__login:hover::before {
    transform: scaleX(1);
}



.dialog__login {
    position: fixed;
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

.dialog__login::backdrop {
    box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, .3);
}

.dialog__login .dialog__ctn {
    position: relative;
    padding: 2.5rem 1.8rem 1.8rem;
}

.dialog__login ul {
    padding: 0rem 0rem 1rem;
}

.dialog__login .btn__ctn button {
    width: 48%;
    border: 0;
    border-bottom: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1.2rem;
    line-height: 1.6rem;
}

.dialog__login .btn__ctn .toggle {
    font-weight: bold;
    font-size: 1.1rem;
}

.dialog__login .btn__ctn button:hover,
.dialog__login .btn__ctn .toggle {
    border-color: var(--red-color);
    color: var(--red-color);
}

dialog input {
    width: 100%;
    margin-bottom: 1.2rem;
    padding: .5rem .6rem;
    border: 2px solid var(--gray-color);
    border-radius: 2px;
    display: block;
    font-size: 1rem;
    letter-spacing: .05rem;
}

.btn__login,
.btn__register {
    width: 100%;
    background-color: var(--red-color);
    color: var(--bg-color);
    border: 0;
    padding: .5rem 2rem;
    border-radius: 2px;
    font-size: 1rem;
    letter-spacing: .1rem;
    cursor: pointer;
}

.btn__dialog {
    border: 0;
    background-color: transparent;
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--font1-color);
    position: absolute;
    right: 3px;
    top: -2px;
    transform: rotate(45deg);
    cursor: pointer;
}

.dialog__ctn ul small {
    color: var(--gray-color);
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: .5rem .6rem;
}

.dialog__ctn small span {
    margin: 0 1rem;
}

.dialog__ctn ul small::before,
.dialog__ctn ul small::after {
    content: "";
    display: block;
    flex: 1 1 auto;
    border-top: 1px solid var(--gray-color);
}

.social__ctn a {
    display: block;
    width: 100%;
    /* margin-bottom: 1.2rem; */
    padding: .5rem .6rem;
    border: 1px solid var(--gray-color);
    font-size: .8rem;
    border-radius: 3px;
    letter-spacing: .05rem;
    color: var(--font-color);
    text-decoration: none;
}

.social__ctn a:hover {
    border-color: var(--font1-color);
}

.social__btn {
    display: flex;
    align-items: center;
}

.social__ctn .social__btn img {
    width: 16px;
    text-align: start;
}

.social__ctn .social__btn span {
    margin: 0 auto;
}

.inactive {
    display: none
}

.scrollLock {
    overflow: hidden;
}

.read__bar {
    display: none;
    position: fixed;
    background-color: var(--bg-color);
    width: 100%;
    height: .3rem;
    border-top: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}

.read__bar div {
    background-color: var(--red-color);
    z-index: 999;
    width: 0%;
    height: 3px;
}

/* --------------- logo - text ----------------- */

@media screen and (max-width:970px) {
    .header__wrapper {
        align-items: center;
    }

    .header .desktop {
        display: none;
    }

    .header .mobile {
        display: inline;
        text-align: start;
        padding-left: 2rem;
        height: 3.8rem;
        box-sizing: border-box;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }

    .header__wrapper a img {
        width: auto;
        padding: .2rem;
    }

    .header__nav__item>a {
        line-height: 3.8rem;
    }

    .header__inner .header__nav__login {
        width: 4rem
    }

    .header__nav__login {
        margin: .2rem 1rem
    }
}

.display__none {
    display: none !important;
}

.display__block {
    display: block !important;
}