footer {
    background-image: url("../img/footerBanner.jpg");
}

.lecturer {
    font-family: 'Inter', sans-serif;
}

.container {
    padding-top: 80px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.breadcrumb {
    min-width: 100%;
    margin: 0 auto;
    padding: 5px 10%;
    display: flex;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.breadcrumb li:not(:last-child)::after {
    content: "";
    margin: 0 10px;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: rotate(-45deg) translateY(-2px);
}

.breadcrumb li a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--font-color);
    line-height: 20px;
}

.breadcrumb li a:hover {
    color: var(--red-color);
}

.banner {
    background-image: url(../img/banner/antenna-cw-cj_nFa14-unsplash.jpg);
    width: 100%;
    height: 32rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .65);
    letter-spacing: 0.1em;
}

.banner__title h1 {
    padding-top: 170px;
    text-align: center;
    font-size: 8rem;
    color: var(--bg-color);
    font-weight: bold;
    margin-bottom: 15px;
}

.banner__title p {
    text-align: center;
}

.banner__subtitle {
    box-sizing: border-box;
    background-color: var(--red-color);
    font-weight: bold;
    color: var(--bg-color);
    letter-spacing: 1em;
    padding-left: 1rem;
}

.container {
    background-image: url(../img/bg.svg);
    background-repeat: repeat-y;
}

.content {
    width: 100%;
    margin: 60px auto 0;
    padding-bottom: 80px;
    position: relative;
}

.content nav {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.lecturer nav ul {
    display: flex;
    max-width: 1280px;
    margin: 0 1vw;
    flex-wrap: wrap;
}

.lecturer nav ul li {
    margin-right: 18px;
}

.lecturer nav ul li a {
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: .05em;
    text-decoration: none;
    border: 2px solid var(--red-color);
    border-radius: 100px;
    color: var(--red-color);
    padding: 10px 20px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 35px;
    cursor: pointer;
}

.lecturer nav ul li:hover a {
    background-color: var(--red-color);
    color: var(--bg-color);
}

.lecturer .active {
    background-color: var(--red-color);
    color: var(--bg-color);
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.list {
    display: flex;
    /* justify-content: space-between; */
    /* display: grid;
    grid-template-columns: repeat(6, minmax(0px, 1fr)); */
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 97%;
    margin: 0 auto;
}

.list form {
    margin: 0 2.2% 4% 0;
    text-decoration: none;
    position: relative;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    transition: all .5s;
    animation: card .5s;
    width: 14%;
    cursor: pointer;
}

/* 6 */
.list i {
    width: 80px;
}

@keyframes card {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.list .inner img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 0;
    object-fit: contain;
    object-position: bottom;
    margin: 0 auto;
}

.list form:hover {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .35);
    transform: translateY(-.3rem);
}

.list .inner .text {
    padding: 6% 8%;
    position: absolute;
    top: 0;
    left: 0;
}

.inner .text p {
    color: var(--red-color);
    font-size: .8rem;
    font-weight: 900;
    margin-bottom: 15%;
}

.inner .text span {
    color: var(--font-color);
    font-weight: bold;
}

.inner .love__btn {
    position: absolute;
    top: calc(94% - 28px);
    left: calc(94% - 28px);
    width: 28px;
    height: 28px;
    background-color: var(--red-color);
    border-radius: 50%;
    color: var(--bg-color);
    border: 0;
    cursor: pointer;
}

.inner .love__btn:hover {
    animation: love .2s;
}

.inner .love__btn i {
    position: absolute;
    left: 7px;
    top: 8px;
    width: 5px;
    height: 8px;
}

@keyframes love {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/* 
@media screen and (max-width:1200px) {
    .list {
        grid-template-columns: repeat(5, minmax(0px, 1fr));
    }
} */

.loveList__wrapper {
    position: fixed;
    /* top: calc(100vh - 50px - 12%); */
    bottom: 90px;

    right: .8rem;
    /* left: calc(100vw - 6.5%); */
    width: 50px;
    z-index: 9999;
}

.loveList__ctn {
    position: relative;
}

.loveList__btn {
    font-size: 18px;
    color: var(--font1-color);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: .1px solid var(--font1-color);
    transition: all .3s;
}

.loveQty {
    width: 25px;
    height: 25px;
    background-color: var(--red-color);
    text-align: center;
    line-height: 25px;
    position: absolute;
    border-radius: 50%;
    top: 15px;
    right: 5px;
    color: var(--bg-color);
    transform: scale(.5);
}

.dialog__list {
    position: fixed;
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}

.dialog__list::backdrop {
    box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, .3);
}

.dialog__list .dialog__ctn {
    padding: 2.5rem 1.8rem 1.8rem;
}

.dialog__list .love__table {
    margin: 0rem 0rem 1rem;
}

.dialog__content div h5.lecturer__title {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray-tgh-color);
    background-color: var(--bg-color);
    font-size: 1.2rem;
    cursor: pointer;
    padding-bottom: .3rem;
    margin-bottom: .5rem;
    line-height: 1.6rem;
    color: var(--font1-color);
}

.dialog__content .lecturer__title i {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: var(--red-color);
}

.dialog__content .love__table th,
.dialog__content .love__table td {
    padding: .8rem 0;
    width: 10vw;
    text-align: center;
    border-bottom: 1px solid var(--gray-color);
}

.dialog__content .love__table .t__center {
    text-align: center;
}

.dialog__content .btn__ctn {}

.dialog__content .btn__empty,
.dialog__content .btn__buy,
.dialog__content .not__love {
    border: 0;
    background-color: var(--red-color);
    padding: .5rem .8rem;
    border-radius: 3px;
    font-size: .8rem;
    color: var(--bg-color);

}

@media screen and (max-width:1280px) {
    .list {
        width: 85%
    }

    .list form {
        width: 17.5%;
        min-width: 15%;
    }
}

/* 5 */
@media screen and (max-width:1100px) {
    .list {
        width: 95%
    }

    .list form {
        width: 22%;
        min-width: 16%;
    }
}

/* 4 */
@media screen and (max-width:970px) {
    /* .list {
        grid-template-columns: repeat(4, minmax(0px, 1fr));
    } */

    .container {
        padding-top: 62px;
    }

    .banner {
        height: 420px;
    }

    .banner__title h1 {
        padding-top: 130px;
    }

    .list {
        width: 85%
    }
}

@media screen and (max-width:850px) {
    .list {
        width: 95%
    }

    .loveList__wrapper {
        right: 2.2rem;
    }
}

@media screen and (max-width:735px) {
    .content {
        background-size: 1500px auto;
    }

    .banner {
        height: 300px;
    }

    .banner__title h1 {
        padding-top: 88px;
        font-size: 3.5rem;
        text-align: start;
        padding-left: 1rem;
    }

    .banner__title p {
        text-align: start;
        padding-left: 1.3rem;
        line-height: 1.1rem;
    }

    .banner__subtitle {
        display: inline;
        padding: 0;
    }

    .list form {
        margin: 0 3vw 6vw 0;
        width: 30%;
        min-width: 16%;
    }

    .loveList__wrapper {
        right: 2.2rem;
    }
}

@media screen and (max-width:510px) {
    .lecturer nav ul li a {
        margin-bottom: 1rem;
    }

    .list {
        width: 95%
    }

    .list form {
        margin: 0 auto 3.8vw;
        width: 45%;
        min-width: 15%;
    }
}

.hide {
    display: block;
    visibility: hidden;
}

.display__block {
    display: block !important;
}

.loveList__wrapper.bottom_btn {
    position: absolute;
    bottom: -2200px;
    left: calc(100vw - 10.2%);
}